<!--
  Es un desmadre xd
  El formGroup es para identificar el formulario principal
  formGroupName es para los formularios reactivos, reactivos y respuestas
  sirve para identificarlos por posición
  formArrayName es para vincular los formuarios reactivos por nombre y saber que datos lleva

-->

<div class="container col-12">
  <div class="form-group row d-flex justify-content-center" id="tituloexamen">


    <div class="col-6">

      <select name="unidad" (change)="cambiarUnidad($event)" class="form-control">
        <option>--Seleccione Unidad--</option>
        <option *ngFor="let unidad of unidad">{{unidad.nombreUnidad}}</option>
      </select>
    </div>

    <select type="text" name="tema" id="tema" class="form-control col-6">
      <option>--Seleccione un Tema--</option>
      <option *ngFor="let tema of temas">{{tema.nombreTema}}</option>
    </select>

  </div>
</div>

<form class="containerjustify-content-center" [formGroup]="examen">
  <!--seccion de unidad-->



  <!--seccion de reactivos-->
  <div class="col">
    <div class="reactivo col-md-12" formArrayName="reactivos"
      *ngFor="let reactivo of getReactivo(examen); let i = index">
      <div class="row justify-content-center" [formGroupName]="i">

        <div class="pregunta col-12">
          <div class="form-group row" id="contPregrunta">

            <!--boton para eliminar un reactivo-->
            <div class="justify-content-end col-12">
              <div class="text-center" style="float: right;">
                <button *ngIf="getReactivo(examen).length > 1" class="btn btn-danger" type="button"
                  (click)="eliminarReactivo(i)">
                  Eliminar Reactivo
                </button>
              </div>
            </div>



            <div class="col-md-12 input-group form-group">

              <div class=""></div>
              <!--contenido-->
              <div class="col-10">
                <label style="margin-top: 5px;">Pregunta {{ i + 1 }}</label>
                <input type="text" name="preguntas" [attr.id]="'contenido' + i" formControlName="contenido"
                  placeholder="Ingrese el contenido de la pregunta" class="cont-pregunta form-control" />
              </div>

              <!--check box-->

              <div>
                <div class="cont input-group-text form-check">
                  <div>
                    <label class="check-label">3</label>
                    <input class="check-box form-control" [attr.id]="'nivel' + i" formControlName="nivel" type="radio"
                      [value]="3" />
                  </div>

                  <div>
                    <label class="check-label">2</label>
                    <input class="check-box form-control" [attr.id]="'nivel' + i" formControlName="nivel" type="radio"
                      [value]="2" />
                  </div>

                  <div>
                    <label class="check-label">1</label>
                    <input class="check-box form-control" [attr.id]="'nivel' + i" formControlName="nivel" type="radio"
                      [value]="1" />
                  </div>


                </div>

                <div>
                  <label class="check-label">requiere procediemiento</label>
                  <input class="check-box form-control" name="procedimiento" [attr.id]="'procedimiento' + i"
                    formControlName="procedimiento" type="checkbox"/>
                </div>
              </div>


            </div>



          </div>
        </div>

        <!--esta es la seccion de las respuestas, se deberián generar 4 respuestas-->
        <div class="respuesta col-11" *ngFor="let respuesta of getRespuesta(reactivo); let j = index">
          <!--
            En la parte de las respuestas se "divide en dos" ya que el propio contenido de las respuestas si 
            pertenece al array de las respuestas mientras que los radio bottom depende de la posicion (valor dado de la posicion)
            para identificar cual la respuesta correcta por lo que los radio estan dentro del for de las respuestas pero fuera del
            forArray de las respuestas
          -->
          <div class="input-group form-group  justify-content-center">
            <!-- aqui inicia el formArray de las respuestas-->
            <div formArrayName="respuestas">
              <div [formGroupName]="j">

                <div class="col-8">
                  <input type="text" name="respuesta {{ j }}" [attr.id]="'contenido' + j" class="form-control"
                    formControlName="contenido" placeholder="Respuesta {{ j + 1 }}" />
                </div>

              </div>
            </div>
            <!--
              Aqui terminar el formArray de las respuestas
              Justo debajo esta la parte de los radio
            -->
            <div class="input-group-text form-check">
              <input class="form-control" type="radio" value="{{j}}" [attr.id]="'correcto' + i"
                formControlName="correcto" />
            </div>
          </div>

        
        </div>
        <!--Termina la parte de las respuestas-->
      </div>
    </div>
    <div class="container col-12 parabotones justify-content-center">
      <div class="col-8 input-group-prepend justify-content-center">
        <button class="addbtn btn btn-danger w-30">
          Descartar Cambios
        </button>
        <button class="addbtn btn w-30" type="button" (click)="agregarReactivo()">
          Agregar Reactivo
        </button>
        <button class="addbtn btn" (click)="mandar()">
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>

</form>