<div>
  <div class="sidenav">
    <!--<a class="link" routerLink="/examen">
      <img src="https://github.com/Sel14/Servicio-Social/raw/crearExamen/Iconos/account_circle_o.png" alt="" />
      Crear Examen</a>

    <a class="link" routerLink="/crear">
      <img src="https://github.com/Sel14/Servicio-Social/raw/crearExamen/Iconos/account_circle_o.png" alt="" />
      Crear pregunta</a>

    <a class="link" routerLink="/ver">
      <img src="https://github.com/Sel14/Servicio-Social/raw/crearExamen/Iconos/account_circle_o.png" alt="" />
      Ver preguntas</a>

    <a class="link" routerLink="/unidades" disabled>
      <img src="https://github.com/Sel14/Servicio-Social/raw/crearExamen/Iconos/account_circle_o.png" alt="" />
      Unidades y temas</a>

    <a class="link" routerLink="/materia">
      <img src="https://github.com/Sel14/Servicio-Social/raw/crearExamen/Iconos/account_circle_o.png" alt="" />
      Materia</a>

    <a class="link" routerLink="/inicio-alumnos">
      <img src="https://github.com/Sel14/Servicio-Social/raw/crearExamen/Iconos/account_circle_o.png" alt="" />
      Inicio alumnos</a>

    <a class="link" routerLink="/materia-alumnos">
      <img src="https://github.com/Sel14/Servicio-Social/raw/crearExamen/Iconos/account_circle_o.png" alt="" />
      Materias alumnos</a>

    <a class="link" routerLink="/examen-alumnos">
      <img src="https://github.com/Sel14/Servicio-Social/raw/crearExamen/Iconos/account_circle_o.png" alt="" />
      Examen alumnos</a>

    <a class="link" routerLink="/resultados-alumno">
      <img src="https://github.com/Sel14/Servicio-Social/raw/crearExamen/Iconos/account_circle_o.png" alt="" />
      Resultados alumnos</a>-->
    
  </div>
    <div class="sidenav">
        <p><a class = "link" (click)="link()"><img src="https://github.com/Sel14/Servicio-Social/raw/crearExamen/Iconos/account_circle_o.png" alt="" />
          Inicio</a></p>
    </div>
</div>