.mat-drawer {
    width: 232px;
    border-color: black;
    color: white;
    padding-top: 16px;
    text-align: center;
    display: flex;
}

.mat-drawer-content {
    margin: 16px;
    margin-left: 32px;
}